* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
 
body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
 
}
 
h1 {
    color: #222;
}
 
p {
    color: #555;
}
 
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}
 
.game-screen {
    grid-column: span 2;
}
 
#option-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 15px;
}
 
button {
    background-color: #2e7d32;
    color: #f1f1f1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
 
button:focus {
    outline: 2px solid #00f; 
    background-color: #f0f0f0; 
}
 
 
button:hover {
    background-color: #2e7d32;
}
 
button:active {
    background-color: #1b5e20; 
}
 
a {
    color: #0066cc;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}
 
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
 
@media (forced-colors: active) {
    /* These styles will apply when forced colors are enabled */
    body {
        background-color: black;  /* High contrast background */
        color: white;             /* High contrast text */
    }
    button {
        background-color: yellow;  /* High contrast button */
        color: black;              /* High contrast text on button */
    }
    a {
        color: cyan;  /* High contrast link color */
    }
 
}
